<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="o3o.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <o3o.Properties.Settings>
            <setting name="use_system_color" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="system_color" serializeAs="String">
                <value>0, 192, 192</value>
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="PolygonOpacity" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="amountOfTWeetsToDisplay" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="LastWindowPosition" serializeAs="String">
                <value>100,100</value>
            </setting>
            <setting name="DisplayIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TopMostNotify" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Layout" serializeAs="String">
                <value>1</value>
            </setting>
        </o3o.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
